h1 {
color:red
}
.head{  
background-color:white;
border:solid;
}
.grid {
background: darkred;
background-color: #F0F8FF;
display: flex;
justify-content: last baseline;
flex-direction: row;
text-align: left;
flex-wrap: wrap;
border-radius: 50px;
}
.camel {
border: 1px solid black;
margin-top: 10px;
margin-bottom: 10px;
width: 300px;
height: 500px;
padding: 50px;
background-color:#E8E5E4;
}
.chameleon {
border: 1px solid black;
margin-top: 10px;
margin-bottom: 10px;
width: 300px;
height: 500px;
padding: 50px;
background-color:#E8E5E4;
}  
.cicada {
border: 1px solid black;
margin-top: 10px;
margin-bottom: 10px;
width: 300px;
height: 500px;
padding: 50px;
background-color:#E8E5E4;
}
.panda {
border: 1px solid black;
margin-top: 10px;
margin-bottom: 10px;
width: 300px;
height: 550px;
padding: 50px;
background-color:#E8E5E4;
}
.pigeon {
border: 1px solid black;
margin-top: 10px;
margin-bottom: 10px;
width: 300px;
height: 550px;
padding: 50px;
background-color:#E8E5E4;
}
.teddy {
border: 1px solid black;
margin-top: 10px;
margin-bottom: 10px;
width: 300px;
height: 550px;
padding: 50px;
background-color:#E8E5E4;
}